
a{
    text-decoration: none;
}
h2{
    margin-top: 20px;
    text-align: center;
}
h3{
    margin-top: 20px;

}
.spacer_tabs{
    height: 40px;
}
.spacer_short{
    height: 40px;
}
.spacer_long{
    height: 100px;
}

.main_inputs{
    margin: auto;
    max-width: 1000px;
}